<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Yo!! This is your home page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam at, nulla quidem tempore omnis vitae culpa optio sapiente quia eos quisquam nostrum ipsa similique officia alias voluptatum reprehenderit placeat maiores?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sequi adipisci quibusdam ea deleniti esse quia quas sunt voluptate. Mollitia nihil eos dolores soluta ex laudantium hic eaque fuga temporibus.</p>
</body>
</html>
