<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subreddit %></title>  //the variable we have passed is called subreddit from index.js
</head>
<body>
    <h1> You are browsing the <%= subreddit %> subreddit </h1>
</body>
</html>